.Sidebar {
  position: relative;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  background-color: var(--inverted-bg-color);
  transition: width 0.35s ease-in-out;
}

.collapseBtn {
  position: absolute;
  right: -15px;
  bottom: 40px;
  font-size: 26px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switchers {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 100%;
  bottom: 20px;
}
