!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
deploy/.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
/deploy/.env
*.log
.env
node_modules/
dist/
target/
.idea/
.vscode/

*storybook.log
my-notions-static/.cache/storybook
my-notions-static/storybook-static
deploy/.env

CLAUDE.md
.context/**
