.Navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  padding: 20px;
  background: var(--inverted-bg-color);
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.loginBtn {
  padding: 5px;
}
