.app.dark {
  --bg-color: #121212;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #2ecc71;
  --inverted-primary-color: #007bff;

  --secondary-color: #a2d5ab;
  --inverted-secondary-color: #add8e6;
}
