.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #121212;

  --primary-color: #007bff;
  --inverted-primary-color: #2ecc71;

  --secondary-color: #add8e6;
  --inverted-secondary-color: #a2d5ab;
}
