version: '3.8'

services:
  backend:
    build:
      context: ..
      dockerfile: deploy/backend/Dockerfile
    ports:
      - 8081:80
    env_file:
      - .env
    networks:
      - notions
    depends_on:
      - postgres

  frontend:
    build:
      context: ..
      dockerfile: deploy/frontend/Dockerfile
    ports:
      - 80:80
    depends_on:
      - backend
    networks:
      - notions

  postgres:
    container_name: postgres
    image: postgres:16-alpine
    hostname: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: my_notions_network
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    networks:
      - notions
    restart: unless-stopped

#  mail-dev:
#    container_name: mail-dev-bsn
#    image: maildev/maildev
#    ports:
#      - 1080:1080
#      - 1025:1025

volumes:
  postgres_data:

networks:
  notions:
    driver: bridge