.app.light {
  --bg-color: #ffffff;
  --bg-cecondary: #f7f6f3;
  --primary-color: #37353f;
  --secondary-color: #787774;
  --tertiary-color: #b3b1ad;
  --border-color: #ebeced;

  /* Semantic */
  --color-error: #E03E3E;
  --color-warning: #DFAB01;
  --color-success: #0F7B6C;
  --color-info: #0B6E99;

  /* Other */
  --color-link: #0B6E99;
  --color-selection: #FAF3DD;
  --color-focus-ring: #D3E5EF;
  --color-disabled-bg: #F3F3F3;
  --color-disabled-text: #A5A5A5;
}